:root {
    --md-primary-fg-color: #554596;
}

.md-header-nav__button.md-logo img,
.md-header-nav__button.md-logo svg,
.md-nav__button.md-logo img,
.md-nav__button.md-logo svg {
    width: 150px !important;
    height: 50px !important;
}

h3[id^=dvz_] {
    border-top: 5px solid whitesmoke;
    padding-top: 20px;
}

img[alt^=marker_] {
    width: 32px;
}

img[alt^="marker aspect"] {
    width: 64px;
}

img[alt^="cap_"] {
    width: 48px;
}

img[alt*=gpuopen] {
    width: 512px;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 50px !important;    /* such as 48px/56px/64px */
    width: auto !important;
    max-width: none !important;
}