# Validated by SeismoSignal


## Velocity and displacement time-histories

![Velocity and displacement time-histories](images/hist_valid.png)

## Elastic response spectra
![Elastic response spectra](images/ElasSpec_valid.png)

## Const ductility response spectra
![Const ductility response spectra](images/CDSP_valid.png)